.sub1{
    display: flex;
  height: 25vh;
    justify-content: center;
    align-items: center;
    font-size:1rem;
    border: 2px solid green;
    margin-left:750px;
  
    margin-top: 50px;
    width:450px;
    border-radius: 15px;
    
}
select{
    font-size: 1rem;
    width:130px;

    
}
body{
    background-color: lightblue;
}


.sub2{
    font-size: 1rem;
     display: none;
      height: 45vh;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      border: 2px solid green;
      margin-left:775px;
      margin-right: 300px;
     
      width:450px;
      border-radius: 15px;
}
label,button{
    margin-left: 80px;
}
label{
    width:180px;
    display: inline-block;
}
.sub3,.sub4,.sub5,.sub6,.sub7,.sub8{
    font-size: 1rem;
     display: none;
      height: 50vh;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      border: 2px solid green;
      margin-left:775px;
      margin-right: 300px;
      width:450px;
      border-radius: 15px;
}

button{
    border-radius: 5px;
    font-size: 1rem;
    color:white;
    background-color:red;
    
}
input{
    font-size: 1rem;
}
.output{
    display: none;
    font-size: 1rem;
     
    height: 35vh;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    border: 2px solid green;
    margin-left:775px;
    margin-right: 300px;
    padding-left: 50px;
    width:400px;
    border-radius: 15px;
    
}
span #sgpa{
font-size: 1rem;
}

.sub9{
    font-size: 1rem;
    display: none;
     height: 13vh;
     justify-content: center;
     align-items: center;
     margin-top: 70px;
     border: 2px solid green;
     margin-left:775px;
     margin-right: 300px;
     border-radius: 15px;
     width:450px;
}
.sub9 label{
    width:200px;
    display: inline-block;
}
.box{
    text-align: center;
    margin-top: 200px;
    margin-left: 160px;
    font-size: 1rem;
    color:blue;
}
#final-output{
    font-size: 1rem;
    text-align: center;
    border: 2px solid green;
    width:400px;
    margin-top: 70px;
    margin-left: 800px;
    border-radius: 15px;
    display: none;
}

@media only screen and (max-width:600px){

    .sub1{
        display: flex;
      height: 20vh;
        justify-content: center;
        align-items: center;
        font-size:1rem;
        border: 2px solid green;
        margin-left:10px;
      
        margin-top: 50px;
        width:450px;
        border-radius: 15px;
        
    }
    .sub2{
        font-size: 1rem;
         display: none;
          height: 45vh;
          margin-top: 70px;
          border: 2px solid green;
          justify-content: center;
          align-items: center;
          margin-left:10px;
          width:450px;
          border-radius: 15px;
    }
    .box{
        text-align: center;
        margin-top: 200px;
        margin-left: 10px;
        font-size: 1rem;
        color:blue;
    }
    .sub3,.sub4,.sub5,.sub6,.sub7,.sub8{
        display: flex;
        font-size: 1rem;
         display: none;
          height: 50vh;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
          margin-top: 70px;
          border: 2px solid green;
          width:450px;
          border-radius: 15px;
    }
   
    .sub9{
        font-size: 1rem;
        display: none;
         height: 15vh;
        justify-content: center;
         margin-top: 70px;
         border: 2px solid green;
      margin-left: 10px;
         border-radius: 15px;
         width:450px;
    }
    .output{
        display: none;
        font-size: 1rem;
         
        height: 30vh;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        border: 2px solid green;
        margin-left:10px;
       
        padding-left: 50px;
        width:400px;
        border-radius: 15px;
        
    }
    #final-output{
        font-size: 1rem;
        text-align: center;
        border: 2px solid green;
        width:400px;
        margin-top: 70px;
        margin-left: 40px;
        border-radius: 15px;
        display: none;
    }











}